<div class="service-container">
    <mat-card *ngFor="let service of dataSource.data" class="service-card">
      <mat-card-header>
        <mat-card-title>{{ service.name }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="service.imageUrl | defaultImage" alt="{{ service.name }} image">      <mat-card-content>
        <p>{{ service.description }}</p>
        <p><strong>Price:</strong> {{ service.price }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" >Detail</button>
        <button mat-button color="accent" >Reserve</button>
      </mat-card-actions>
    </mat-card>
  </div>
  